<div class="topline">
    <a href="{{'/'}}" class="logo"><img src="{{asset('images/logo.png')}}"> {{appname}}</a>
    <div class="menu1">
        <a href="{{'/about'}}">About us</a>
        <a href="{{'/help'}}">Help</a>
    </div>
    <div class="menu2">
        <a href="http://github.com/artur99/ofnibot">GitHub Repo</a>
        <a href="{{l('/app')}}">Run the App</a>
    </div>
</div>
